{% extends "base.html" %}

{% block page_title %}
  Books List
{% endblock page_title %}


{% block page_content %}

  <h2>Books List</h2>

  <ul class="list">
  {% for book in books %}
    <li><a href="{% url "books:detail" book.pk %}?page={{ page_obj.number|urlencode }}">{{ book.title }} - {{ book.created_at|date:"Y-m-d" }}</a></li>
  {% endfor %}
  </ul>

  <div class="paginator">
    {% if page_obj.has_previous %}
      <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next  %}
      <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
  </div>

  <div class="func-links">
    <a href="{% url 'books:create' %}">Create Book</a>
  </div>

{% endblock page_content %}